
    *{ padding:0; margin:0; list-style:none; border:0;}
    .services{
        width: 100%;
        height: 670px;
        background-color:#320E23;
        margin-bottom: 10px;
        position: relative;
    }
    .services h3{
        text-align: center;
        height: 30px;
        color: #fff;
        padding-top:50px; 
        font-size: 30px;
        letter-spacing: 0.5em;
    }
    .items_left{
        width: 260px;
        height:260px;
        float: left;
        position: absolute;
        margin-left: 10%;
        margin-top: 190px;
        top: 0px;
        left: 0px;
    }
    .items_left .clock{
        position: relative;
        width: 100%; 
        height: 100%;  
    }
    .items_left .clock>img{
        width: 100%;
        height: 100%;
    }
    .items_left .h>img,
    .items_left .m>img,
    .items_left .s>img{
        width: 13px;
        top: 0%;
        left: 48%;
        position: absolute;
    }
    .items_right{
        width: 510px;
        margin-right: 10%;
        height: 75%;
        float: right;
    }
    @media screen and (max-width:780px){
        .items_left{
            width: 260px;
            height: 260px;
            margin-top: 20px;
            margin-left: 20%;
            position: relative;
    }
       .items_right{
           width: 500px;
           height: 75%;
    } 
        body{
            width: 100%;
            height: 100%;
            background-color:#320E23;
        }
    }
    .all{
        width:500px;
        height:200px;
        margin:140px 0;
        position:relative;
    }
    .screen{
        width:500px;
        height:200px;
        overflow:hidden; 
        position:relative;
    }
.screen li{ width:500px; height:200px; overflow:hidden; float:left;}
.screen ul{ position:absolute; left:0; top:0px; width:3000px;}
.all ol{ position:absolute; right:10px; bottom:10px; line-height:20px; text-align:center;}
.all ol li{ float:left; width:20px; height:20px; background:#fff; border:1px solid #ccc; margin-left:10px; cursor:pointer;}
.all ol li.current{ background:yellow;}


.big_box{
    width: 100%;
    background-color: #320E23;
    margin-top: -10px;
}
.box{
    width:650px;
    margin:10px auto;
}
.box div{
    width:190px;
    height:190px;
    background:#FFA600;
    float:left;
    margin:10px;
    border-radius: 10px;
}
button{
 clear:both;
 width:200px;
 height:50px;
 background:#FFF;
 border:none;
 border-radius:10px;
 position:relative;
 left:100px;
 }
 button:hover{
 background:#FFA600;
 }
#moveTop{
    width: 35px;
    height: 35px;
    position: fixed;
    right:50px;
    bottom: 30px;
    background:url(../images/movetop.png) no-repeat;
    cursor: pointer;
    display: none;
}